body, html {
    height: 100%; }

body {
    background: #fff; }
.layui-table, .layui-table-view{
    margin: 0;
}
.layui-form-label {
    width: auto; }

.app-wrap {
    height: 100%; }

.main{

}
.main>.layui-table-view{
    border-top:2px solid #009688;
}
.header {
    padding: 10px 0;
    margin-bottom: 10px; }
.header .btn-box {
    padding: 9px 10px 8px 10px;
    border-bottom: 1px solid #ddd;
    background: #f2f2f2; }
.header .layui-form-item {
    margin-bottom: 0; }
.header .layui-input-block {
    margin-left: 0;
    padding-right: 10px; }
.header label {
    display: block;
    line-height: 38px; }
.layui-layer-btn .layui-layer-btn0 {
    background: #009688 !important;
    border-color: #009688 !important;
}